<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GmailOAuthClientId</key>
	<string>$(GMAIL_OAUTH_CLIENT_ID)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GMAIL_OAUTH_CALLBACK_SCHEME)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(MICROSOFT_GRAPH_CALLBACK_SCHEME)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(EWS_OAUTH_CALLBACK_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>EWSOAuthAuthorizationEndpoint</key>
	<string>$(EWS_OAUTH_AUTHORIZATION_ENDPOINT)</string>
	<key>EWSOAuthCallbackScheme</key>
	<string>$(EWS_OAUTH_CALLBACK_SCHEME)</string>
	<key>EWSOAuthClientId</key>
	<string>$(EWS_OAUTH_CLIENT_ID)</string>
	<key>EWSOAuthScope</key>
	<string>$(EWS_OAUTH_SCOPE)</string>
	<key>EWSOAuthTokenEndpoint</key>
	<string>$(EWS_OAUTH_TOKEN_ENDPOINT)</string>
	<key>GmailPubSubTopic</key>
	<string>$(GMAIL_PUBSUB_TOPIC)</string>
	<key>MicrosoftGraphCallbackScheme</key>
	<string>$(MICROSOFT_GRAPH_CALLBACK_SCHEME)</string>
	<key>MicrosoftGraphClientId</key>
	<string>$(MICROSOFT_GRAPH_CLIENT_ID)</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Review invitations and find, add, update, or remove matching calendar events.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Review invitations and find, add, update, or remove matching calendar events.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>dev.unwired.mail.refresh</string>
	</array>
</dict>
</plist>
